<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Game4.Game4" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="28" android:minSdkVersion="24" />
	<application android:label="Kosme"></application>
	<supports-screens android:resizeable="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" android:requiresSmallestWidthDp="600" android:compatibleWidthLimitDp="1048" />
</manifest>